Data fields
Each row of the training data contains a click record, with the following features.

ip: ip address of click.

app: app id for marketing.

device: device type id of user mobile phone (e.g., iphone 6 plus, iphone 7, huawei mate 7, etc.)

os: os version id of user mobile phone

channel: channel id of mobile ad publisher

click_time: timestamp of click (UTC)

attributed_time: if user download the app for after clicking an ad, this is the time of the app download

is_attributed: the target that is to be predicted, indicating the app was downloaded

Note that ip, app, device, os, and channel are encoded.

The test data is similar, with the following differences:

click_id: reference for making predictions

is_attributed: not included

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import gc
import datetime


# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['test_supplement.csv', 'train.csv', 'test.csv', 'sample_submission.csv', 'train_sample.csv']

In [16]:
data_types = {
    'ip' : 'uint32',
    'app' : 'uint16',
    'device' : 'uint16',
    'os' : 'uint16',
    'channel' : 'uint16',
    'is_attributed' : 'bool'
}

In [21]:
sample_train = pd.read_csv('../input/train_sample.csv', dtype=data_types)

In [22]:
sample_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
ip                 100000 non-null uint32
app                100000 non-null uint16
device             100000 non-null uint16
os                 100000 non-null uint16
channel            100000 non-null uint16
click_time         100000 non-null object
attributed_time    251 non-null object
is_attributed      100000 non-null bool
dtypes: bool(1), object(2), uint16(4), uint32(1)
memory usage: 2.8+ MB

In [52]:
(sample_train.groupby(['ip']).ip.count() == 1).values

array([False, False, False, ...,  True,  True,  True])

In [65]:
(sample_train.groupby('ip').is_attributed.sum()/sample_train.groupby('ip').is_attributed.count()).value_counts()

0.000000    34438
1.000000      137
0.500000       25
0.250000       14
0.333333       14
0.200000        8
0.142857        8
0.111111        7
0.076923        6
0.083333        3
0.166667        3
0.090909        3
0.100000        2
0.125000        2
0.037037        1
0.011111        1
0.015873        1
0.031250        1
0.062500        1
0.066667        1
0.020833        1
0.029412        1
0.023810        1
0.043478        1
0.004687        1
0.055556        1
0.030303        1
0.012346        1
0.038462        1
0.058824        1
Name: is_attributed, dtype: int64

In [67]:
sample_train['click_time'] = pd.to_datetime(sample_train['click_time'])
sample_train['attributed_time'] = pd.to_datetime(sample_train['attributed_time'])

In [69]:
sample_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
ip                 100000 non-null uint32
app                100000 non-null uint16
device             100000 non-null uint16
os                 100000 non-null uint16
channel            100000 non-null uint16
click_time         100000 non-null datetime64[ns]
attributed_time    251 non-null datetime64[ns]
is_attributed      100000 non-null bool
dtypes: bool(1), datetime64[ns](2), uint16(4), uint32(1)
memory usage: 2.8 MB

In [95]:
sample_click_list = sample_train[~sample_train['attributed_time'].isnull()].sort_values(['ip', 'click_time']).reset_index().drop(['index', 'is_attributed'], axis =1)
sample_click_list

         ip  app  device  os  channel          click_time     attributed_time
0      2965   19       0  29      213 2017-11-08 10:05:27 2017-11-08 15:41:14
1      3355   19       0   0      213 2017-11-09 12:55:33 2017-11-09 13:06:27
2      3808   35       1  25      274 2017-11-07 06:34:10 2017-11-07 07:07:20
3      3845    2       1  19      477 2017-11-08 07:32:48 2017-11-08 07:43:14
4      4382   19       0  38      213 2017-11-07 22:27:12 2017-11-07 22:27:56
5      5072   35       1  19       21 2017-11-09 02:25:58 2017-11-09 03:45:33
6      5314   19      88  24      213 2017-11-07 22:25:07 2017-11-07 22:25:17
7      5314   20       1  27      478 2017-11-08 06:42:28 2017-11-08 07:55:46
8      5314   19       0   0      347 2017-11-09 08:11:01 2017-11-09 08:11:05
9      6380   19       0  24      213 2017-11-08 16:16:37 2017-11-09 01:28:25
10     9734   10       1  19      113 2017-11-07 02:53:47 2017-11-07 02:58:50
11    14063   14       1  41      480 2017-11-08 03:05:21 2017-11-08 03:08:06
12    14074   19       6  29      213 2017-11-08 16:10:12 2017-11-09 01:13:10
13    14187   19       0  38      347 2017-11-07 00:29:32 2017-11-07 00:30:57
14    14348   19       0  24      347 2017-11-09 13:14:49 2017-11-09 13:27:05
15    15034  191       0  29      414 2017-11-09 01:41:10 2017-11-09 01:43:09
16    16222   19       0   0      213 2017-11-09 11:32:48 2017-11-09 11:34:32
17    17067   35       1  13       21 2017-11-09 03:32:07 2017-11-09 10:43:35
18    18985   29       1  19      213 2017-11-09 10:13:39 2017-11-09 10:14:45
19    19155  107       1  13      171 2017-11-07 08:33:17 2017-11-07 10:10:05
20    20134    9       1  13      442 2017-11-08 10:08:34 2017-11-08 10:32:08
21    20153   35       1  19      274 2017-11-09 09:02:04 2017-11-09 09:06:26
22    20592   19       0   0      343 2017-11-09 05:48:27 2017-11-09 05:59:47
23    22851    9       1  19      466 2017-11-09 04:57:23 2017-11-09 04:57:42
24    23432   13       1  13      477 2017-11-08 03:56:21 2017-11-08 06:02:11
25    23641   19       0  24      213 2017-11-08 14:24:02 2017-11-08 14:55:22
26    25289   35       1  17       21 2017-11-07 06:40:07 2017-11-07 10:30:30
27    25766   19       0  24      213 2017-11-07 15:14:12 2017-11-07 15:25:34
28    26651   35       1  16       21 2017-11-08 02:26:14 2017-11-08 02:48:43
29    27906   11       1  19      319 2017-11-08 03:41:28 2017-11-08 06:39:32
..      ...  ...     ...  ..      ...                 ...                 ...
221  311449   39       1  19      101 2017-11-09 14:47:59 2017-11-09 14:50:45
222  320339  155       1  35      213 2017-11-09 02:06:44 2017-11-09 02:07:41
223  320788   19       0  50      282 2017-11-09 07:06:15 2017-11-09 07:08:13
224  321610   84       0   0      101 2017-11-09 12:14:53 2017-11-09 12:19:38
225  325487  121       1  19      203 2017-11-09 03:36:43 2017-11-09 03:37:57
226  325812   72       1  13      101 2017-11-09 05:01:07 2017-11-09 13:33:01
227  329641   19       0  24      213 2017-11-09 14:03:25 2017-11-09 14:05:00
228  329916   29       1  25      213 2017-11-09 13:59:32 2017-11-09 14:00:04
229  331199    1       1   6      124 2017-11-08 23:55:13 2017-11-08 23:55:35
230  332159   29       1  13      213 2017-11-09 11:28:01 2017-11-09 11:34:06
231  336556  191       0  29      414 2017-11-09 08:59:20 2017-11-09 09:00:58
232  336946   19       0  29      213 2017-11-09 13:05:08 2017-11-09 13:10:04
233  338760  121       1  15      203 2017-11-09 01:58:53 2017-11-09 02:02:14
234  341823   10       1  61      113 2017-11-09 13:46:18 2017-11-09 13:46:48
235  341863   10       1   4      113 2017-11-09 08:39:31 2017-11-09 08:40:00
236  342140   19       0   0      213 2017-11-09 12:46:45 2017-11-09 12:47:33
237  343397   10       1  35      113 2017-11-09 05:53:05 2017-11-09 05:53:35
238  343955   10       1  36      113 2017-11-09 08:37:11 2017-11-09 08:37:42
239  345471   19       0  38      347 2017-11-08 17:05:58 2017-11-09 03:08:42
240  347434   32       1  22      376 2017-11-09 12:00:37 2017-11-09 12:34:29
241  349516   45       1  36      465 2017-11-09 08:40:03 2017-11-09 08:40:14
242  349708  108       1  19      243 2017-11-09 01:51:54 2017-11-09 01:57:55
243  349926   16       1   6      268 2017-11-08 17:23:21 2017-11-08 18:23:01
244  356255   19      86   0      213 2017-11-09 01:57:18 2017-11-09 01:58:43
245  356552   19       0  24      347 2017-11-09 11:50:55 2017-11-09 14:36:23
246  358639   19       0   0      213 2017-11-09 12:06:10 2017-11-09 12:08:42
247  359589  148       1  22      282 2017-11-09 08:40:29 2017-11-09 08:41:18
248  359695   19       0  21      213 2017-11-09 03:44:51 2017-11-09 03:46:00
249  363566   19       0   0      213 2017-11-09 01:12:13 2017-11-09 04:35:41
250  364067   10       1  47      113 2017-11-09 02:45:04 2017-11-09 02:45:28

[251 rows x 7 columns]

In [96]:
sample_click_list.ip.unique().size

248

In [102]:
for col in sample_train:
    print (col,'\t',sample_train[col].unique().size)

ip 	 34686
app 	 156
device 	 99
os 	 132
channel 	 162
click_time 	 80355
attributed_time 	 252
is_attributed 	 2